@model IEnumerable<BedrockBank.Account>

@{
    ViewBag.Title = "Accounts";
}

<h2>Accounts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SSN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeofAccount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SSN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeofAccount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccountNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccountNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccountNumber })
        </td>
    </tr>
}

</table>
